nav, ul{
    display: flex;
    
}

li{
    list-style-type: none;
    
 
}

ul{

    gap:34px;
}
nav{
    background-color: rgb(249, 170, 249);
    padding: 23px;
    align-items: center;
    justify-items: center;
   
}